

<div class="back_banner">
</div> <!-- class="banner" -->

<!-- back list body -->
<div class="back_list_body">

  <div class="color_theme_div">
    <%= render "color_theme_picker" %>
  </div> <!-- color_theme_div -->


  <div class="back_list_footer">
    <div class="big_footer_left">
    </div>
    <div class="big_footer_center">
    </div>
    <div class="big_footer_right">
      <%= image_tag("arrow_circle_left_24.png", :class=> "flip_back_icon") %>
    </div>
  </div> <!--.back_list_footer"-->
</div> <!-- back_list_body -->

