<p id="choose_color_title_div">
  Choose a Color Theme:
</p>

<div id="red_theme" class="color_themes">
  <div id="red_theme_button" class="color_button">
  </div>
  <div class="color_themes_text">
    <p>Red</p>
  </div>
</div>

<div id="black_theme" class="color_themes">
  <div id="black_theme_button" class="color_button">
  </div>
  <div class="color_themes_text">
    <p>Black</p>
  </div>
</div>

<div id="gray_theme" class="color_themes">
  <div id="gray_theme_button" class="color_button">
  </div>
  <div class="color_themes_text">
    <p>Gray</p>
  </div>
</div>

<div id="jony_ive_theme" class="color_themes">
  <div id="jony_ive_theme_button" class="color_button">
  </div>
  <div class="color_themes_text">
    <p>Jony Ive</p>
  </div>
</div>