<p class="choose_color_title_div">
  Choose a Color Theme
</p>

<div class="color_themes_picker_box">
  <div class="color_themes red_theme">
    <div class="color_button red_theme_button">
    </div>
    <div class="color_themes_text">
      <p>Red</p>
    </div>
  </div>

  <div  class="color_themes black_theme">
    <div  class="color_button black_theme_button">
    </div>
    <div class="color_themes_text">
      <p>Dark</p>
    </div>
  </div>

  <div  class="color_themes gray_theme">
    <div  class="color_button gray_theme_button">
    </div>
    <div class="color_themes_text">
      <p>Gray</p>
    </div>
  </div>

  <div class="color_themes jony_ive_theme">
    <div class="color_button jony_ive_theme_button">
    </div>
    <div class="color_themes_text">
      <p>Jony Ive</p>
    </div>
  </div>

  <div class="color_themes blue_theme">
    <div class="color_button blue_theme_button">
    </div>
    <div class="color_themes_text">
      <p>Blue</p>
    </div>
  </div>
</div>
