<!-- this will be a list of task mirroring the tasks of this day's tasks -->

<div id="small_body">
    <li class="small_task_text">
        <p>Item 1</p>
    </li>
    <li class="small_task_text">
        <p>Item 2</p>
    </li>
    <li class="small_task_text">
        <p>Item 3</p>
    </li>
    <li class="small_task_text">
        <p>Item 4</p>
    </li>
    <li id="last_small_list" class="small_task_text">
        <p>Item 5</p>
    </li>
</div>