<!-- this will be a list of task mirroring the tasks of this day's tasks -->

<div id="small_body">

    <% 5.times do %>
        <li class="small_task_text">
            <p>Item </p>
        </li>
    <% end %>
</div>