<div class="card">
  <div class="face front">

    <div id="small_banner">
      <h4 class="day_header"><%= day_of_week %></h4>
    </div>

        <%= render "small_task_text" %>

    <div id="small_footer">
    </div>

  </div>
</div>