<div id="week" class="mondayPos">

  <% @days.each do |day| %>
    <% if day == "monday" %>
      <div id='<%= day %>' class="flip day large">
        <%= render :partial => "card", :locals => { :day_of_week => day.capitalize }  %>
      </div>
    <% else %>
      <div id='<%= day %>' class="flip day small">
        <%= render :partial => "card", :locals => { :day_of_week => day.capitalize }  %>
      </div>
    <% end %>
  <% end %>

</div>