<div id="week" class="sunday">

  <div id="monday" >
    M
  </div> <!-- id="monday" -->

  <div id="tuesday" >
    T
  </div> <!-- id="tuesday" -->

  <div id="wednesday" >
    W
  </div> <!-- id="wednesday" -->

  <div id="thursday" >
    TH
  </div> <!-- id="thursday" -->

  <div id="friday" >
    F
  </div> <!-- id="friday" -->

  <div id="saturday" >
    SA
  </div> <!-- id="saturday" -->

  <div id="sunday" class="active">
    SU
  </div> <!-- id="sunday" -->

</div> <!-- id="week" -->
