// starting positions

$top1: 50px;
$left1: 60px;

#monday.large {
  top: $top1;
  left: $left1;
}

#tuesday {
  top: $top1;
  left: 580px;
}

#wednesday {
  top: 310px;
  left: 580px;
}

#thursday {
  top: $top1;
  left: 782px;
}

#friday {
  top: 310px;
  left: 782px;
}

#saturday {
  top: $top1;
  left: 984px;
}

#sunday {
  top: 310px;
  left: 984px;
}

