#monday {
  top: 0px;
  left: 0px;
}

#tuesday {
  top: 0px;
  left: 520px;
}

#wednesday {
  top: 260px;
  left: 520px;
}

#thursday {
  top: 0px;
  left: 722px;
}

#friday {
  top: 260px;
  left: 722px;
}

#saturday {
  top: 0px;
  left: 924px;
}

#sunday {
  top: 260px;
  left: 924px;
}