$top1: 50px;
$left1: 60px;

$top2: 310px;

// monday--starting positions
#week.mondayPos {
  #monday.large {
    top: $top1;
    left: $left1;
  }
  #tuesday.small{
    top: $top1;
    left: 580px;
  }
  #wednesday.small {
    top: 310px;
    left: 580px;
  }
  #thursday.small {
    top: $top1;
    left: 782px;
  }

  #friday.small {
    top: 310px;
    left: 782px;
  }

  #saturday.small {
    top: $top1;
    left: 984px;
  }

  #sunday.small {
    top: 310px;
    left: 984px;
  }
}

// tuesday
#week.tuesdayPos {
  #monday.small {
    top: $top1;
    left: $left1;
  }
  #tuesday.large {
    top: $top1;
    left: 270px;
  }
  #wednesday.small {
    top: $top2;
    left: $left1;
  }
  #thursday.small {
    top: $top1;
    left: $left1 + 182px + 500px + 60px;
  }
  #friday.small {
    top: $top2;
    left: $left1 + 182px + 500px + 60px;
  }
  #saturday.small {
    top: $top1;
    left: $left1 + 182px + 500px + 80px + 182px;
  }
  #sunday.small {
    top: $top2;
    left: $left1 + 182px + 500px + 80px + 182px;
  }
}

// wednesday
#week.wednesdayPos {
  #monday.small {
      top: $top1;
      left: $left1;
    }
    #tuesday.small {
      top: $top2;
      left: $left1;
    }
    #wednesday.large {
      top: $top1;
      left: 270px;
    }
    #thursday.small {
      top: $top1;
      left: $left1 + 182px + 500px + 60px;
    }
    #friday.small {
      top: $top2;
      left: $left1 + 182px + 500px + 60px;
    }
    #saturday.small {
      top: $top1;
      left: $left1 + 182px + 500px + 80px + 182px;
    }
    #sunday.small {
      top: $top2;
      left: $left1 + 182px + 500px + 80px + 182px;
    }
}

// thursday
#week.thursdayPos  {
  #monday.small {
    top: $top1;
    left: $left1;
  }
  #tuesday.small {
    top: $top2;
    left: $left1;
  }
  #wednesday.small {
    top: $top1;
    left: 60px + 182px+ 20px;
  }
  #thursday.large {
    top: $top1;
    left: 60px + 182px+ 40px + 182px;
  }
  #friday.small {
    top: $top2;
    left: 60px + 182px+ 20px ;
  }
  #saturday.small {
    top: $top1;
    left: $left1 + 182px + 500px + 80px + 182px;
  }
  #sunday.small {
    top: $top2;
    left: $left1 + 182px + 500px + 80px + 182px;
  }
}

// friday
#week.fridayPos  {
 #monday.small {
   top: $top1;
   left: $left1;
 }
 #tuesday.small {
   top: $top2;
   left: $left1;
 }
 #wednesday.small {
   top: $top1;
   left: 60px + 182px+ 20px;
 }
 #thursday.small {
  top: $top2;
  left: 60px + 182px+ 20px ;
 }
 #friday.large {
  top: $top1;
  left: 60px + 182px+ 40px + 182px;
 }
 #saturday.small {
   top: $top1;
   left: $left1 + 182px + 500px + 80px + 182px;
 }
 #sunday.small {
   top: $top2;
   left: $left1 + 182px + 500px + 80px + 182px;
 }
}

// saturday
#week.saturdayPos  {
  #monday.small {
    top: $top1;
    left: $left1;
  }
  #tuesday.small {
    top: $top2;
    left: $left1;
  }
  #wednesday.small {
    top: $top1;
    left: 60px + 182px+ 20px;
  }
  #thursday.small {
   top: $top2;
   left: 60px + 182px+ 20px;
  }
  #friday.small {
    top: $top1;
    left: 60px + 182px+ 20px + 182px + 20px;
  }
  #saturday.large {
    top: $top1;
    left: 60px + 182px+ 20px + 182px + 20px + 182px + 20px ;
  }
  #sunday.small {
    top: $top2;
    left: 60px + 182px+ 20px + 182px + 20px;
  }
}

// sunday
#week.sundayPos {
  #monday.small {
    top: $top1;
    left: $left1;
  }
  #tuesday.small {
    top: $top2;
    left: $left1;
  }
  #wednesday.small {
    top: $top1;
    left: 60px + 182px+ 20px;
  }
  #thursday.small {
   top: $top2;
   left: 60px + 182px+ 20px;
  }
  #friday.small {
    top: $top1;
    left: 60px + 182px+ 20px + 182px + 20px;
  }
  #saturday.small {
    top: $top2;
    left: 60px + 182px+ 20px + 182px + 20px;
  }
  #sunday.large {
    top: $top1;
    left: 60px + 182px+ 20px + 182px + 20px + 182px + 20px ;
  }
}

