$list_width: 182px;
$list_height: 240px;

$active_list_width: 500px;
$active_list_height: 500px;

$card_background_color: rgba(236, 240, 241,1.0);
$body_background_color: rgba(189, 195, 199,1.0);

body {
  background-color: $body_background_color;
  overflow: hidden;
}


#week {
  width: 1200px;
  height: 1000px;
}

#week div.day {
  width: $list_width;
  height: $list_height;
  position: absolute;
  background-color: $card_background_color;
  border-radius: 7px;
}

#week div.active {
  width: $active_list_width;
  height: $active_list_height;
}

// Movements of divs after .active is added (Monday is default);

// tuesday
.tuesday #tuesday {
  left: 232px;
}
.tuesday #wednesday {
  left: 30px;
}

// wednesday
.wednesday #tuesday {
  left: 30px;
  top: 290px;
}
.wednesday #wednesday {
  top: 30px;
  left: 232px;
}

// thursday
.thursday #tuesday {
  left: 30px;
  top: 290px;
}
.thursday #wednesday {
  left: 232px;
  top: 30px;
}
.thursday #thursday {
  left: 434px;
}
.thursday #friday {
  left: 232px;
  top: 290px;
}

// friday
.friday #tuesday {
  left: 30px;
  top: 290px;
}
.friday #wednesday {
  left: 232px;
  top: 30px;
}
.friday #thursday {
  left: 232px;
  top: 290px;
}
.friday #friday {
  left: 434px;
  top: 30px;
}

// saturday
.saturday #tuesday {
  left: 30px;
  top: 290px;
}
.saturday #wednesday {
  left: 232px;
  top: 30px;
}
.saturday #thursday {
  left: 232px;
  top: 290px;
}
.saturday #friday {
  left: 434px;
  top: 30px;
}
.saturday #saturday {
  left: 636px;
}
.saturday #sunday {
  left: 434px;
  top: 290px;
}

// sunday
.sunday #tuesday {
  left: 30px;
  top: 290px;
}
.sunday #wednesday {
  left: 232px;
  top: 30px;
}
.sunday #thursday {
  left: 232px;
  top: 290px;
}
.sunday #friday {
  left: 434px;
  top: 30px;
}
.sunday #saturday {
  left: 434px;
  top: 290px;
}
.sunday #sunday {
  left: 636px;
  top: 30px;
}



