$list_width: 182px;
$list_height: 240px;

$active_list_width: 500px;
$active_list_height: 500px;

#week {
  width: 1097px;
  height: 500px;
  position: relative;
  margin: 30px;
  margin-right: 30px;
  // border: 1px solid black;
  // overflow: hidden;
}

#week div {
  width: $list_width;
  height: $list_height;
  position: absolute;
  background-color: gray;
}

#week div.active {
  width: $active_list_width;
  height: $active_list_height;
}


