$font: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
$font_weight_task: 100;

$task_font_color: white;
$background_color: rgba(52, 152, 219,1.0);



.list {
  width: 500px;
  height: 53px;
  line-height: 55px;

  background-color: $background_color;
  border-radius: 1px;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.5);
}

#sortable {
  list-style-type: none;
  margin-top: 0px;
  padding: 0;
  width: 100%;
  line-height: 50px;
}

#sortable li {
  color: $task_font_color;
  margin: 0px;
  font-size: 18px;
  font-family: $font;
  font-weight: $font_weight_task;
}

#sortable li span {
  position: absolute;
}

// task forms

#task_content {
  width: 350px;
  height: 35px;

  margin-left: 40px;
  margin-top: 3px;


  border: none;
  color: $task_font_color;
  font-family: $font;
  font-weight: $font_weight_task;
  font-size: 25px;
  background-color: $background_color;
}
// task icons

.task_text {
  float: left;
  width: 83%;
}

.task_check,
.task_delete {
  height: 100%;
  display: inline-block;
}

.task_check {
  width: 40px;
}

.task_delete {
  width: 25px;
}

.check_icon,
.delete_icon {
  margin-top: 15px;
}